.am-table thead tr th {
    padding-bottom: 1.5rem;
}

.table-main {
    font-size: 1.2rem;
}

.am-table > tbody > tr > td, .am-table > tbody > tr > th, .am-table > tfoot > tr > td, .am-table > tfoot > tr > th, .am-table > thead > tr > td, .am-table > thead > tr > th {
    padding: 1rem;
    text-align: center;
}

.table-id {
    width: 60px;
}

.table-numid {
    width: 160px;
}

.am-table > thead > tr > th.table-set {
    text-align: left;
}

.am-form input[type=number], .am-form input[type=search], .am-form input[type=text], .am-form input[type=password], .am-form input[type=datetime], .am-form input[type=datetime-local], .am-form input[type=date], .am-form input[type=month], .am-form input[type=time], .am-form input[type=week], .am-form input[type=email], .am-form input[type=url], .am-form input[type=tel], .am-form input[type=color], .am-form select, .am-form textarea, .am-form-field{color:#333;}

.technologylist{width:100%;}
    .technologylist span.technology {
        font-size: 1.2rem;
        line-height: 1.5;
        padding-top: 12px;
        display: inline-block;
        padding-right: 15px;
        color: #333;
    }

    .technologylist .am-checkbox, .technologylist .am-checkbox-inline, .technologylist .am-radio, .am-radio-inline {
        font-size:1.2rem;padding-top:0;
    }

        .am-checkbox input[type=checkbox], .am-checkbox-inline input[type=checkbox], .am-radio input[type=radio], .am-radio-inline input[type=radio]{margin-left:-18px;margin-top:2px;}

.am-btn-toolbar .am-btn-group .am-btn{display:block;float:left;}







